extends layout

block content
  .container
    .flex-container
      .hero-container
        .hero-header
          #wrap
            // Button trigger modal
            br
            .buttonz
              button.bttn.btn-ghost(data-toggle='modal', data-target='#myModal')
                | Sign In
            .errors
              if errors
                for messages in errors
                  p=messages
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
         .container
           .row
             .col-sm-6.col-sm-offset-3.text-center(style='margin-top: 10%;height:301px;border:10px solid #f00000;background:#f0f0f0')
                button.close(type='button', data-dismiss='modal', aria-label='Close') ×
                br
                br
                form(action='/signin', method='post')
                  h1 Username: 
                    input(type='text' value='' name='user_name').loginInput
                  h1 Password: 
                    input(type='text' value='' name='user_password').loginInput
                  h4
                  hr
                  input(type="submit" value="Sign In" style="height: 55px; width: 98px").btn.btn-primary
        .hero-img
          h1 Poké Mingle
          h2 Find a catch while you catch them all!
          form(action='/faction', method='post')
            p I am on team 
              select(name='userfaction').styled-select.slate
                option Instinct
                option Mystic
                option Valor
            .hero-submit
              input(type="submit" value="Join").btn.btn-primary
      .landing-summary
        .landing-description
          img(src="../img/svg/mobilephone.svg")
          p Use your phone to find potential PokéMatches near you!
        .landing-description
          img(src="../img/svg/pokemon.svg")
          p Meet at a local Pokéstop!
        .landing-description
          img(src="../img/svg/holding-hands.svg")
          p Get to know a fellow aspiring Pokémaster while catching Pokémon! 