extends layout

block content
  .flex-container
    .hero-container
      .hero-header
        .buttonz
          button.bttn.btn-ghost sign in
      .hero-img
        h1 Poké Mingle
        h2 Find a catch while you catch them all!
        form(action='/faction', method='post')
          p I am on team 
            select(name='userfaction').styled-select.slate
              option Instinct
              option Mystic
              option Valor
          .hero-submit
            input(type="submit" value="Join").btn.btn-primary
    .landing-summary
      .landing-description
        img(src="../img/svg/mobilephone.svg")
        p Use your phone to find potential PokéMatches near you!
      .landing-description
        img(src="../img/svg/pokemon.svg")
        p Meet at a local Pokéstop!
      .landing-description
        img(src="../img/svg/holding-hands.svg")
        p Get to know a fellow aspiring Pokémaster while catching Pokémon! 



