extends layout

block content
  .flex-container
    .signupPage
      .title
        h1=title
      .filter
        h2 Sex: insert sex
        h2 Age: 18 - 59
        h2 Team: Mystic
      #tourpackages-carousel.container
        .row
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .text-center.caption
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .text-center.caption
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
          .col-xs-4.col-sm-4.col-md-4
            .thumbnail
              img(src='http://placehold.it/300x200', alt='')
              .caption.text-center
                h4 Wil - 29
                h4 Team: Mystic
                h4 Squirtle
        // End row
      // End container
