extends layout

block content
  .container.signupPage
    .title
      h1.page-header Edit Profile
    .row
      // left column
      .col-md-6.col-sm-6.col-xs-12
        .text-center
          img.avatar.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/people/9/', alt='avatar')
          h6 Upload a different photo...
          input.text-center.center-block.well.well-sm(type='file')
      // edit form column
      form.form-horizontal(action='/profileview/' + users._id, method="POST")
        .col-md-6.col-sm-6.col-xs-12.portfolioSidebar
          h2 #{users.username}
          h2 Team #{users.faction}
          h2 Spirit Pokemon -- Squirtle
          h2 #{users.age} years old
          h2 Height
            select.profileSelectDropdown
              option 3
              option 4
              option 5
              option 6
              option 7
            span feet
            select.profileSelectDropdown
              option 0 
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
            span inches
        .col-md-12.personal-info
          h2 Personal Info
        .personalForms
          .col-md-2
          .col-md-8
              i.fa.fa-coffee
            .form-group
              label.col-lg-3.control-label Self-Summary
              .col-lg-8
                textarea(value='What is your story!?', type='text', rows='15', name='summary')
            .form-group
              label.col-lg-3.control-label Email:
              .col-lg-8
                input.form-control(value='#{users.email}', type='text')
            .form-group
              label.col-lg-3.control-label Confirm Email:
              .col-lg-8
                input.form-control(value='', type='text')
            .form-group
              label.col-md-3.control-label Password:
              .col-md-8
                input.form-control(value='', type='password')
            .form-group
              label.col-md-3.control-label Confirm password:
              .col-md-8
                input.form-control(value='', type='password')
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary(value='Save Changes', type='submit')
                span
                input.btn.btn-default(value='Cancel', type='reset')
                a(href='/delete/' + users._id) Delete your account
          .col-md-2

