body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero-header {
  display: flex;
  justify-content: flex-end;
  height: 5%;
  margin-right: 3%;
  margin-top:1%;
}

.hero-img h1 {
  font-family: "pocket_monkregular";
  font-size: 260px;
  margin-bottom: 0;
  margin-top: 5%;
}

.hero-img h2 {
  font-size: 50px;
}

.hero-img form {
  font-size: 60px;
}

.flex-container {
  display:flex;
  flex-direction: column;
}

/*This select height did nothing

select {
  height:50px;
}
*/
.hero-img {
  /*background-color:red;*/
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  padding-bottom: 18%;
}

.landing-summary {
  /*background-color:blue;*/
  display:flex;
  justify-content: space-around;
  padding-top: 15px;
}

.landing-summary img {
  margin: 0 auto;
  height:175px;
  width:175px;
}

/*Sign-In Button*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  font-family: Raleway, Arial, sans-serif;
  padding: 1em 2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}


h1 > small{
  color: #666;
}

h1 > small > a,
p > a{
  color: #3CB371;
  text-decoration: none;
}
h1 > small > a:hover,
p > a:hover{
  text-decoration: underline;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
btn-radius
input[type="submit"].btn,
button.btn {
  cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
  font-size: 0.8125em;
  padding: 0.4125em 1.25em;
}
.btn-medium {
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
}
.btn-large {
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
  color: #3CB371;
  border-color: #3CB371;
}
.btn-green:hover {
  background: #3CB371;
  color: #fff;
  border-color: #3CB371;    
}


/*-------*/

.landing-description {
  display:flex;
  flex-direction: column;
  width:25%;
}

.landing-description p {
  font-size: 24px;
}