body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero-img h1 {
  font-family: "pocket_monkregular";
  font-size: 260px;
  margin-bottom: 0;
  margin-top:0;
}

.hero-img h2 {
  font-size: 50px;
}

.hero-img form {
  font-size: 60px;
}

.flex-container {
  display:flex;
  flex-direction: column;
}

/*This select height did nothing

select {
  height:50px;
}
*/
.hero-img {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  background-color:red;
  justify-content: center;
  align-items: center;
  padding-bottom: 18%;
}

.landing-summary {
  display:flex;
  justify-content: space-around;
  background-color:blue;
  padding-top: 15px;
}

.landing-summary img {
  margin: 0 auto;
  height:175px;
  width:175px;
}

.landing-description {
  display:flex;
  flex-direction: column;
  width:25%;
}

.landing-description p {
  font-size: 24px;
}